.header {
    /* border-bottom: 2px solid black; */
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    width: 500px;
    margin: auto;
}

.header,
.nav-bar {
	/* display: flex;
	justify-content: space-between;
    align-items: center; */
    /* border: 2px solid red;  */
}

nav a {
    /* border: 2px solid red; */
	color: black;
	text-decoration: none;
    margin-right: 1em; 
    padding: 0 2em;
    margin-bottom: 5px; 
}

nav a:hover {
    color: red;
}

nav a:active {
    color: grey;
}


.image {
    /* border: 2px solid red;  */
    max-width: 13%;
}

nav a .image {
    /* border: 2px solid red;  */
    float: left; 
}

.header-title {
    color: #A5243A;
}