.details-container {
	display: grid;
	grid-template-areas:
		'image text'
		'image text'
		'image text'
		'image text'
		'image text';
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	height: 700px;
	background-color: #f3f3f3;
	margin-top: 10px;
}

.details-text {
	display: flex;
	justify-content: center;
	grid-area: text;
	grid-row: 2 / span 2;
	font-weight: 300;
	font-size: 80%;
}

.details-image {
	grid-area: image;
	object-fit: contain;
	width: 500px;
	height: 600px;
	margin: 0;
	margin-left: 25px;
    margin-top: 50px;
	padding: 0;
	background-size: 100% 100%;
}

.text-container {
	margin-top: 20%;
	margin-right: 10px;
	/* border: 1px solid red;  */
	width: 300px; 
}

.details-btn {
	cursor: pointer;
	margin-bottom: 10px;
	border-radius: 5px;
}

.details-btn:hover {
	background: rgb(109, 106, 161);
	background: linear-gradient(
		90deg,
		rgba(165, 162, 214, 1) 0%,
		rgba(121, 9, 31, 1) 37%,
		rgba(107, 66, 149, 1) 100%
	);
	color: white;
}

.details-btn:focus {
}
