.gallery-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 15px;
    margin: auto;
}

.main-gallery-card {
	/* display flex */
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	flex-wrap: nowrap;
	width: 365px;
	height: 500px;
	color: black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	font-size: medium;
}


.card-image {
	object-fit: contain;
	width: 360px;
	height: 700px;
	margin: 0;
    /* margin-top: 5px; */
	padding: 0;
	background-size: 100% 100%;
}

.gallery-text {
	font-weight: 200;
	margin-left: 10px;
}
